In [ ]:
# Temperature Analysis Project

# This notebook contains three parts:
# 1. A simple Temperature Converter (C ↔ F).  
# 2. A Basic Calculator (add, subtract, multiply, divide).  
# 3. A Client Project: Data processing on a Kaggle dataset to calculate and analyze average temperature.  # 

# Dataset Used: [Daily Delhi Climate Dataset (Kaggle)](https://www.kaggle.com/datasets/sukhmandeepsinghbrar/daily-delhi-climate)  #

In [7]:
df = pd.read_csv("DailyDelhiClimate.csv")
df.head()

         date   meantemp   humidity  wind_speed  meanpressure
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [12]:
import pandas as pd
import numpy as np

In [2]:
def c_to_f(c):
    return c * 9/5 + 32

def f_to_c(f):
    return (f - 32) * 5/9

In [3]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b):
    return a / b if b != 0 else "Error: Division by zero"

In [8]:
df['date'] = pd.to_datetime(df['date'])

df.set_index('date', inplace=True)

df.isnull().sum()

meantemp        0
humidity        0
wind_speed      0
meanpressure    0
dtype: int64

In [10]:
overall_avg = df['meantemp'].mean()
print("Overall Average Temperature:", round(overall_avg, 2))
monthly_avg = df['meantemp'].resample('ME').mean()

yearly_avg = df['meantemp'].resample('YE').mean()

Overall Average Temperature: 25.22

In [11]:
monthly_avg.to_csv("monthly_avg.csv")
yearly_avg.to_csv("yearly_avg.csv")
print("Files saved as monthly_avg.csv and yearly_avg.csv")

Files saved as monthly_avg.csv and yearly_avg.csv

In [ ]:
##  Conclusion
#Temperature Converter & Calculator → practice of basic Python functions, input/output, and error handling.
#Dataset Handling with Pandas → loading CSVs, converting date columns to datetime, and setting an index.
#Resampling → changing the time frequency of data (daily → monthly → yearly) to compute averages or other stats.
#Plotting → using matplotlib to visualize trends (monthly/yearly average temperatures).
#Saving Results → exporting processed data (to_csv) for reuse or reporting. ##