In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Check shape, columns, and data info
print("Shape:", data.shape)
print("\nColumns:", data.columns)
print("\nData Info:")
print(data.info())
# Check for missing values
print("\nMissing values in dataset:\n", data.isnull().sum())

Shape: (150, 6)

Columns: Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

Missing values in dataset:
 Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
# Drop duplicates if any
data = data.drop_duplicates()
print("\nMissing values after cleaning:\n", data.isnull().sum())

Missing values after cleaning:
 Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
# Convert selected columns to NumPy arrays
sepal_length = data['SepalLengthCm'].to_numpy()
sepal_width = data['SepalWidthCm'].to_numpy()

mean_length = np.mean(sepal_length)
mean_width = np.mean(sepal_width)
sum_of_squares = np.sum(np.square(sepal_length))

print(f"Mean Sepal Length: {mean_length:.2f}")
print(f"Mean Sepal Width: {mean_width:.2f}")
print(f"Sum of Squares (Sepal Length): {sum_of_squares:.2f}")

Mean Sepal Length: 5.84
Mean Sepal Width: 3.05
Sum of Squares (Sepal Length): 5223.85

In [7]:
species_avg = data.groupby('Species')[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].mean()
species_avg

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [8]:
species_avg.to_csv("iris_aggregated.csv", index=True)
print("Cleaned and aggregated dataset saved as 'iris_aggregated.csv'")

Cleaned and aggregated dataset saved as 'iris_aggregated.csv'

In [10]:
"""
Summary of Concepts Learned

In this task, I worked with NumPy and Pandas to perform data manipulation, cleaning, and aggregation on the Iris Dataset from Kaggle.

Using NumPy, I learned how to handle numerical operations efficiently, such as calculating means, sums, and sum of squares on numerical arrays. I also understood how to convert Pandas columns into NumPy arrays for faster computation.

With Pandas, I learned to load, explore, and clean datasets, including removing duplicates and checking for missing values. I also performed data aggregation using the groupby() function to calculate average values for each flower species.

This project helped me understand how NumPy and Pandas work together in a real-world data analysis workflow — NumPy for mathematical operations and Pandas for dataset management and transformation.
"""

'\nSummary of Concepts Learned\n\nIn this task, I worked with NumPy and Pandas to perform data manipulation, cleaning, and aggregation on the Iris Dataset from Kaggle.\n\nUsing NumPy, I learned how to handle numerical operations efficiently, such as calculating means, sums, and sum of squares on numerical arrays. I also understood how to convert Pandas columns into NumPy arrays for faster computation.\n\nWith Pandas, I learned to load, explore, and clean datasets, including removing duplicates and checking for missing values. I also performed data aggregation using the groupby() function to calculate average values for each flower species.\n\nThis project helped me understand how NumPy and Pandas work together in a real-world data analysis workflow — NumPy for mathematical operations and Pandas for dataset management and transformation.\n'